<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    <header>
      <nav class="top-navbar">
        <a href="{{url_for ('login')}}">
          <button>Login</button>
        </a>
        <a href="{{url_for ('register')}}">
          <button>Register</button>
        </a>
        <a href="{{url_for ('contact')}}">
          <button>Contact</button>
        </a>
      </nav>
    </header>

    <main>
      <div class="login-container">
        <div class="login-input">
          <form id="login-form">
            <h2>Login</h2>
            <p>Username</p>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
            />
            <p>Password</p>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </main>
    <script src="../static/login-form.js"></script>
  </body>
</html>
